{% extends 'Site\\index.html.twig' %}

{% block header %}
  <form id="samucafashion_type" type="post" action="/list" class="search-form">
    <ul class="nav nav-tabs span12">
      {% for type in types %}    
      <li class="{{ current_type == type ? 'active' : '' }}">
        <a href="/list" class="tab-anchor" data-type="{{ type }}">{{ type|upper|trans }}</a>
      </li>
      {% endfor %}
    </ul>
  </form>
    
  <div class="index dashed-bottom clearfix span12 text-right">
  {% for index in range('A', 'Z') %}
    <a class="headline inline {{ index == current_index ? 'active' : '' }}" href="/list/{{ index }}">{{ index }}</a>
  {% endfor %}
  </div>

{% endblock %}

{% block content %}
  {% if list|length %}
    {% for entity in list %}
      {% if loop.index%3 == 1 %}
      <div>
      {% endif %}
        <div class="item span4 dashed-bottom">
          <h4>{{ entity.name }}</h4>
          
          <div class="text-center brand-logo">
            <img src="/uploads/thumbs/{{ entity.logo }}">
          </div>
          
          <div class="text-center brand-text">
            {{ wordwrap(entity.description, 50, "...")|raw }}
          </div>
          
          <div class="clearfix pull-right">
            <a class="btn btn-black btn-more" href="/show/{{ entity.id }}/{{ normalize(entity.name) }}">> {{ "MORE"|trans }}</a>        
          </div>
        </div>
      {% if loop.index%3 == 0 %}
      </div>
      {% endif %}
    {% endfor %}
  {% else %}  
    {{ "No results found."|trans }}
  {% endif %}
  
  <footer>
    <div class="clearfix">
      {% if show_pagination %}
      <div class="pager">
        <div class="span1">
          <a href="/list/{{ base_page }}{{ current_page - 1 }}" title="{{ "Previous"|trans }}" class="btn-nav {{ current_page > 1 ? '' : 'hidden' }}"><</a>
        </div>
        
        <div class="span10">
          <div class="pagination pagination-centered">
            <ul>
            {% for page in pages %}
              <li><a href="/list/{{ base_page }}{{ page }}" class="btn-page {{ current_page == page ? 'active' : '' }}">{{ strpadleft(page, 2, '0') }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="span1 text-left">
          <a href="/list/{{ base_page }}{{ current_page + 1 }}" title="{{ "Next"|trans }}" class="btn-nav {{ current_page < page_count ? '' : 'hidden' }}">></a>
        </div>
      </div>
      {% endif %}
    
      <h3>{{ "FEATURED BRANDS"|trans }}</h3>
      
      <div class="item-featured container-fluid">
      {% for entity in featured %}
        <div class="item span4">
          <h4>{{ entity.name }}</h4>
          
          <div class="text-center brand-logo">
            <img src="/uploads/thumbs/{{ entity.logo }}">
          </div>
          
          <div class="text-center brand-text">
            {{ wordwrap(entity.description, 50, "...")|raw }}
          </div>
          
          <div class="pull-right">
            <a class="btn btn-black btn-more" href="/show/{{ entity.id }}/{{ normalize(entity.name) }}">> {{ "MORE"|trans }}</a>        
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </footer>
  
{% endblock %}

{% block javascripts %}

<script>
  $(function() {
    $('.tab-anchor').click(function (event) {
      event.preventDefault();
      
      var value = $(this).attr('data-type');
      
      $('#samuca_fashion_searchtype_type').val(value);
      
      $('#samuca_fashion_searchtype').get(0).submit();
    });
  });
</script>

{% endblock %}
