{% extends 'default.html.twig' %}

{% block content %}

<h1>{{ "Media"|trans }} {{ "list"|trans }}</h1>

<ul class="unstyled container">
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('media_new') }}">
            {{ "Create a new entry"|trans }}
        </a>
    </li>
</ul>

<table class="records_list table table-striped table-hover table-condensed span12">
    <thead>
        <tr>
            <th>Id</th>
            <th>{{ "Title"|trans }}</th>
            <th>{{ "Src"|trans }}</th>
            <th>{{ "Caption"|trans }}</th>
            <th>{{ "Actions"|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('media_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>
            {% if entity.src is not null %}
              <img src="/contents/thumbs/{{ entity.src }}">
            {% endif %}
            </td>
            <td>{{ entity.caption }}</td>
            <td>
                <ul class="unstyled inline">
                    <li>
                        <a class="btn btn-mini" href="{{ path('media_show', { 'id': entity.id }) }}">{{ "show"|trans }}</a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('media_edit', { 'id': entity.id }) }}">{{ "edit"|trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="unstyled container">
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('media_new') }}">
            {{ "Create a new entry"|trans }}
        </a>
    </li>
</ul>

{% endblock %}