{% extends 'default.html.twig' %}

{% block content %}

<h1>Media creation</h1>

{% if form.vars.errors|length %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ form_errors(form) }}
</div>
{% endif %}

<form action="{{ path('media_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_rest(form) }}
    
    {% include 'upload.html.twig' %}
    
    <p>
        <button class="btn btn-small btn-primary" id="submit-btn" type="submit">Create</button>
    </p>
</form>

<ul class="record_actions unstyled container inline">
    <li>
        <a class="btn btn-small" href="{{ path('media') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/css/bootstrap-fileupload.min.css">
{% endblock %}

{% block javascripts %}

<script src="/assets/js/bootstrap-fileupload.min.js"></script>
<script src="/assets/js/upload.js"></script>

<script>
	$(function () { 
		Upload.init({
			url: '{{ path('upload') }}',
      allow: [ 'jpe?g', 'png' ],
      showProgress: true,     
      thumbnail: true      
		}, '#samuca_fashion_mediatype_source');
	});
</script>
{% endblock %}