{% extends 'default.html.twig' %}

{% block content %}

<h1>Shopping list</h1>

<table class="records_list table table-striped table-hover table-condensed span12">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('shopping_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.address }}</td>
            <td>
                <ul class="unstyled inline">
                    <li>
                        <a btn btn-mini" href="{{ path('shopping_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a btn btn-mini" href="{{ path('shopping_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="unstyled container">
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('shopping_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}