{% extends 'default.html.twig' %}

{% block content %}

<h1>{{ "Brand"|trans }} {{ "edit"|trans }}</h1>

{% if edit_form.vars.errors|length %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ form_errors(edit_form) }}
</div>
{% endif %}

<form action="{{ path('brand_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_rest(edit_form) }}
    
		{% include 'upload.html.twig' %}
    
    <ul class="addresses unstyled" data-prototype="{{ form_widget(edit_form.addresses.vars.prototype)|e }}"></ul>
    
    <ul class="networks unstyled" data-prototype="{{ form_widget(edit_form.networks.vars.prototype)|e }}"></ul>
    
    <p>
        <button class="btn btn-small btn-primary" id="submit-btn" type="submit">{{ "Save"|trans }}</button>
    </p>
</form>

<ul class="record_actions unstyled container inline">
    <li>
        <a class="btn btn-small" href="{{ path('brand') }}">
            {{ "Back to the list"|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('brand_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            
            <button class="btn btn-small btn-danger" type="submit">{{ "Delete"|trans }}</button>
        </form>
    </li>
</ul>

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/css/bootstrap-fileupload.min.css">
{% endblock %}

{% block javascripts %}

<script src="/assets/tiny_mce/jquery.tinymce.js"></script>
<script src="/assets/js/tiny_mce.js"></script>

<script src="/assets/js/brand.js"></script>

<script src="/assets/js/bootstrap-fileupload.min.js"></script>
<script src="/assets/js/upload.js"></script>

<script>
	$(function () {
    Brand.init();
    
		Upload.init({
			url: '{{ path('upload') }}',
      allow: [ 'jpe?g', 'png' ],
      dir: '/uploads',
      showProgress: true,
      end: function (data) {
    	  $('#samuca_fashion_brandtype_logo').after('<img src="/uploads/thumbs/' + data.name + '">');
			},  
      thumbnail: true
		}, '#samuca_fashion_brandtype_logo');
	});
</script>
{% endblock %}