{% extends 'default.html.twig' %}

{% block content %}

<h1>{{ "Brand"|trans }} {{ "creation"|trans }}</h1>

{% if form.vars.errors|length %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ form_errors(form) }}
</div>
{% endif %}

<ul class="nav nav-tabs" id="#tab-menu">
  <li><a href="#tab-addresses" data-toggle="tab">{{ "Addresses"|trans }}</a></li>
  <li><a href="#tab-networks" data-toggle="tab">{{ "Networks"|trans }}</a></li>
  <li class="active"><a href="#tab-brand" data-toggle="tab">{{ "Brand"|trans }}</a></li>
</ul>

<form action="{{ path('brand_create') }}" method="post" {{ form_enctype(form) }}>
  <div class="tab-content">
    <div class="tab-pane" id="tab-addresses">
      <ul id="addresses" class="unstyled embedded" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e }}">
        <li class="node">
        {{ form_widget(form.addresses) }}
        </li>
      </ul>
    </div>
    
    <div class="tab-pane" id="tab-networks">
      <ul id="networks" class="unstyled embedded" data-prototype="{{ form_widget(form.networks.vars.prototype)|e }}">
        <li class="node">
        {{ form_widget(form.networks) }}
        </li>
      </ul>
    </div>
    
    <div class="tab-pane active" id="tab-brand">  
      {{ form_rest(form) }}
    
      {% include 'upload.html.twig' %}
      </div>
    </div>
    
    <p>
        <button class="btn btn-small btn-primary" id="submit-btn" type="submit">{{ "Create"|trans }}</button>
    </p>
</form>

<ul class="record_actions unstyled container inline">
    <li>
        <a class="btn btn-small" href="{{ path('brand') }}">
            {{ "Back to the list"|trans }}
        </a>
    </li>
</ul>

{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/assets/css/bootstrap-fileupload.min.css">
{% endblock %}

{% block javascripts %}

<script src="/assets/tiny_mce/jquery.tinymce.js"></script>
<script src="/assets/js/tiny_mce.js"></script>

<script src="/assets/js/brand.js"></script>

<script src="/assets/js/bootstrap-fileupload.min.js"></script>
<script src="/assets/js/upload.js"></script>

<script>
	$(function () {
    Brand.translation = {
      'delete': '{{ "delete"|trans }}',
      'Add a network': '{{ "Add a network"|trans }}',
      'Add a address': '{{ "Add a address"|trans }}'
    };
    Brand.init();
  
		Upload.init({
			url: '{{ path('upload') }}',
      allow: [ 'jpe?g' ],
      dir: '/uploads',
      showProgress: true,
      end: function (data) {
    	  $('#samuca_fashion_brandtype_logo').after('<img src="/uploads/thumbs/' + data.name + '">');
			},  
      thumbnail: true
		}, '#samuca_fashion_brandtype_logo');
	});
</script>
{% endblock %}