{% for item in list %}
<div class="item span4">
  <header>
    <h4>{{ item.name }}</h4>
    <div class="text-center">
      <img src="content/{{ item.logo }}">
    </div>
    <div class="text-center">
      {{ item.description }}
    </div>
    <div class="pull-right">
      <a href="/show/{{ item.id }}" class="btn">>{{ "more"|upper }}</a>
    </div>
  </header>
</div>
{% endfor %}