{% extends 'index.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/assets/css/tn3e.css">

{% endblock %}

{% block header %}

  <div class="btn-back">
    <a href="{{ referer_url }}">
      <i class="icon icon-arrow-left"></i><span class="heading">{{ "BACK TO BRAND LIST"|trans }}</span>
    </a>
  </div>

{% endblock %}

{% block content %}
  
    <header class="dashed-bottom container-fluid title">
      <div>
        <h2>{{ entity.name }}</h2>
      </div>    
    </header>
  
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style clearfix span2 pull-right text-right">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <!--
      <a class="addthis_counter addthis_bubble_style"></a>
      -->
    </div>
    <!-- AddThis Button END -->
    
    <div class="text-justify entry">
      {{ entity.description }}
    </div>

    <h3>{{ "PHOTO GALLERY"|trans }}</h3>
    
    <div class="mygallery">
      <div class="tn3 album">
        <ol>
        {% for media in entity.medias %}
          <li>
            <h4>{{ media.title }}</h4>
            <div class="tn3 description">{{ media.caption }}</div>
            <a href="/uploads/{{ media.src }}">
              <img src="/uploads/thumbs/{{ media.src }}" data-size="120x120"/>
            </a>
          </li>
        {% endfor %}
        </ol>
      </div>
    </div>
    
    <br class="clearfix" />
    
    <h3>{{ "WHERE TO BUY"|trans }}</h3>

    <ul class="unstyled">
    {% for address in entity.addresses %}
      <li class="heading">
        <strong>{{ address.name }}</strong>
        <span>{{ address.address }}</strong>
      </li>
    {% endfor %}
    </ul>
      
    <h3>{{ "FOLLOW US IN THE SOCIAL NETWORKS"|trans }}</h3>

    <ul class="inline unstyled container">
    {% for network in entity.networks %}
      <li><a href="{{ network.link }}" target="_blank"><i class="icon icon-network icon-{{ network.name }}"></i></a></li>
    {% endfor %}	
    </ul>
  
{% endblock %}

{% block javascripts %}
  <script src="/assets/js/jquery.tn3.min"></script>
  <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51476ef143dd7d2e"></script>
  <script>
    $(function () {
      var tn1 = $('.mygallery').tn3({
        skinDir: "/skins",
        responsive: "width",	    
        autoplay: true,
        delay: 5000,
        skin: "tn3e",
        mouseWheel: false,
        imageClick: "url",
        image: {
          crop: true,	
          transitions: [{
            type: "blinds",
            duration: 300
          },{
            type: "grid",
            duration: 160,
            gridX: 9,
            gridY: 7,
            easing: "easeInCubic",
            sort: "circle"
          },{
            type: "slide",
            duration: 430,
            easing: "easeInOutExpo"
          }]
        }        
      });
    });
</script>

{% endblock %}