{% extends 'default.html.twig' %}

{% block content %}

<h1>{{ "Network"|trans }} {{ "list"|trans }}</h1>

<ul class="unstyled container">
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('network_new') }}">
            {{ "Create a new entry"|trans }}
        </a>
    </li>
</ul>

<table class="records_list table table-striped table-hover table-condensed span12">
    <thead>
        <tr>
            <th>Id</th>
            <th>{{ "Name"|trans }}</th>
            <th>{{ "Link"|trans }}</th>
            <th>{{ "Brand"|trans }}</th>
            <th>{{ "Actions"|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('network_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.link }}</td>
            <td>{{ entity.brand.name }}</td>
            <td>
                <ul class="unstyled inline">
                    <li>
                        <a class="btn btn-mini" href="{{ path('network_show', { 'id': entity.id }) }}">{{ "show"|trans }}</a>
                    </li>
                    <li>
                        <a class="btn btn-mini" href="{{ path('network_edit', { 'id': entity.id }) }}">{{ "edit"|trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="unstyled container">
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('network_new') }}">
            {{ "Create a new entry"|trans }}
        </a>
    </li>
</ul>

{% endblock %}