{% extends 'default.html.twig' %}

{% block content %}

<h1>{{ "Segment"|trans }}</h1>

<table class="record_properties table table-striped table-hover table-condensed">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "Name"|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions unstyled container inline">
    <li>
        <a class="btn btn-small" href="{{ path('segment') }}">
            {{ "Back to the list"|trans }}
        </a>
    </li>
    <li>
        <a class="btn btn-small btn-primary" href="{{ path('segment_edit', { 'id': entity.id }) }}">
            {{ "Edit"|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('segment_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-small btn-danger" type="submit">{{ "Delete"|trans }}</button>
        </form>
    </li>
</ul>

{% endblock %}